{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "version": "1.0.0",
    "description": "API documentation for the project"
  },
  "servers": [
    {
      "url": "https://mybetterlead.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/dashboard/find-by-email": {
      "get": {
        "summary": "Find data by email",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "The email to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/find-by-person": {
      "get": {
        "summary": "Find data by person",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The first name to search for"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The last name to search for"
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The domain to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/person/snapshot": {
      "get": {
        "summary": "Get person data from snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The snapshot ID to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the snapshot"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the person's LinkedIn profile"
                          },
                          "name": {
                            "type": "string",
                            "description": "Profile name"
                          },
                          "city": {
                            "type": "string",
                            "description": "Geographical location of the user"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Geographical location of the user"
                          },
                          "position": {
                            "type": "string",
                            "description": "The current job title or position of the profile"
                          },
                          "about": {
                            "type": "string",
                            "description": "A brief description that provides a concise summary of the profile"
                          },
                          "posts": {
                            "type": "array",
                            "description": "Contains information related to the user's last LinkedIn posts",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "Post title"
                                },
                                "created_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Created date"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL link to the post"
                                }
                              }
                            }
                          },
                          "current_company": {
                            "type": "object",
                            "description": "Provides information about the user's current professional position",
                            "properties": {
                              "company_name": {
                                "type": "string",
                                "description": "Company name"
                              },
                              "job_title": {
                                "type": "string",
                                "description": "Job title"
                              },
                              "company_id": {
                                "type": "string",
                                "description": "Company ID"
                              },
                              "industry": {
                                "type": "string",
                                "description": "Industry or sector to which the company belongs"
                              }
                            }
                          },
                          "experience": {
                            "type": "array",
                            "description": "Contains information about user's professional history",
                            "items": {
                              "type": "object",
                              "properties": {
                                "job_title": {
                                  "type": "string",
                                  "description": "Job title"
                                },
                                "start_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Start date"
                                },
                                "end_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "End date"
                                },
                                "company_name": {
                                  "type": "string",
                                  "description": "Company name"
                                },
                                "company_url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL link to the company profile"
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL that link directly to the LinkedIn profile"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/find-by-company": {
      "get": {
        "summary": "Find company data by domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The domain to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/company/snapshot": {
      "get": {
        "summary": "Get person data from snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The snapshot ID to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the snapshot"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the company"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "The country where the company is located or headquartered"
                          },
                          "locations": {
                            "type": "array",
                            "description": "General information about the company's locations",
                            "items": {
                              "type": "string"
                            }
                          },
                          "followers": {
                            "type": "number",
                            "description": "The number of followers the company has on LinkedIn"
                          },
                          "employees_in_linkedin": {
                            "type": "number",
                            "description": "The number of employees listed on LinkedIn"
                          },
                          "about": {
                            "type": "string",
                            "description": "A description or summary of the company"
                          },
                          "specialties": {
                            "type": "array",
                            "description": "List of the company's specializations",
                            "items": {
                              "type": "string"
                            }
                          },
                          "company_size": {
                            "type": "string",
                            "description": "The number of employees in the company, as reported by the company"
                          },
                          "organization_type": {
                            "type": "string",
                            "description": "The type of organization"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
