{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "version": "1.0.0",
    "description": "API documentation for the project"
  },
  "servers": [
    {
      "url": "https://mybetterlead.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/public/person/search/by-email": {
      "get": {
        "summary": "Find data by email",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "The email to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/person/search/by-name-domain": {
      "get": {
        "summary": "Find data by name and domain",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The first name to search for"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The last name to search for"
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The domain to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/person/snapshot": {
      "get": {
        "summary": "Get person data from snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The snapshot ID to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request (running or ready)"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "A unique identifier for the person's LinkedIn profile"
                          },
                          "name": {
                            "type": "string",
                            "description": "Profile name"
                          },
                          "city": {
                            "type": "string",
                            "description": "Geographical location of the user"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Geographical location of the user"
                          },
                          "position": {
                            "type": "string",
                            "description": "The current job title or position of the profile"
                          },
                          "about": {
                            "type": "string",
                            "description": "A brief description that provides a concise summary of the profile"
                          },
                          "posts": {
                            "type": "array",
                            "description": "Contains information related to the user's last LinkedIn posts",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "Post title"
                                },
                                "created_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Created date"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL link to the post"
                                }
                              }
                            }
                          },
                          "current_company": {
                            "type": "object",
                            "description": "Provides information about the user's current professional position",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Company name"
                              },
                              "title": {
                                "type": "string",
                                "description": "Job title"
                              },
                              "company_id": {
                                "type": "string",
                                "description": "Company ID"
                              },
                              "industry": {
                                "type": "string",
                                "description": "Industry or sector to which the company belongs"
                              },
                              "link": {
                                "type": "string",
                                "format": "uri",
                                "description": "URL link to the company profile"
                              }
                            }
                          },
                          "experience": {
                            "type": "array",
                            "description": "Contains information about user's professional history",
                            "items": {
                              "type": "object",
                              "properties": {
                                "job_title": {
                                  "type": "string",
                                  "description": "Job title"
                                },
                                "start_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Start date"
                                },
                                "end_date": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "End date"
                                },
                                "company_name": {
                                  "type": "string",
                                  "description": "Company name"
                                },
                                "company_url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL link to the company profile"
                                }
                              }
                            }
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL that link directly to the LinkedIn profile"
                          },
                          "people_also_viewed": {
                            "type": "array",
                            "description": "Provides a list of LinkedIn profiles that users who have viewed the user's profile, have viewed these as well",
                            "items": {
                              "type": "string"
                            }
                          },
                          "educations_details": {
                            "type": "string",
                            "description": "Provides information about the user's educational background"
                          },
                          "education": {
                            "type": "array",
                            "description": "Provides information about the user's educational background. It typically includes the degree, the start and end year, the field, etc.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "degree": {
                                  "type": "string",
                                  "description": "Degree"
                                },
                                "start_year": {
                                  "type": "string",
                                  "description": "Start year"
                                },
                                "end_year": {
                                  "type": "string",
                                  "description": "End year"
                                },
                                "field": {
                                  "type": "string",
                                  "description": "Field of study"
                                }
                              }
                            }
                          },
                          "recommendations_count": {
                            "type": "number",
                            "description": "A numeric count of the total number of recommendations that the user has received"
                          },
                          "avatar": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL that link to the profile picture of the LinkedIn user"
                          },
                          "courses": {
                            "type": "array",
                            "description": "Contains information about courses or educational programs that the user has undertaken",
                            "items": {
                              "type": "string"
                            }
                          },
                          "languages": {
                            "type": "array",
                            "description": "Contains information about the user's proficiency in different languages",
                            "items": {
                              "type": "string"
                            }
                          },
                          "certifications": {
                            "type": "array",
                            "description": "Licenses & Certifications",
                            "items": {
                              "type": "string"
                            }
                          },
                          "recommendations": {
                            "type": "array",
                            "description": "Recommendations that the user has received from their connections or colleagues on LinkedIn",
                            "items": {
                              "type": "string"
                            }
                          },
                          "volunteer_experience": {
                            "type": "array",
                            "description": "Contains information related to the user's volunteer work",
                            "items": {
                              "type": "string"
                            }
                          },
                          "followers": {
                            "type": "number",
                            "description": "How many users/companies following the profile"
                          },
                          "connections": {
                            "type": "number",
                            "description": "How many connections the profile has"
                          },
                          "current_company_company_id": {
                            "type": "string",
                            "description": "The id of the latest/current company of the profile"
                          },
                          "current_company_name": {
                            "type": "string",
                            "description": "The name of the latest/current company of the profile"
                          },
                          "publications": {
                            "type": "array",
                            "description": "Publications",
                            "items": {
                              "type": "string"
                            }
                          },
                          "patents": {
                            "type": "array",
                            "description": "Patents",
                            "items": {
                              "type": "string"
                            }
                          },
                          "projects": {
                            "type": "array",
                            "description": "Projects",
                            "items": {
                              "type": "string"
                            }
                          },
                          "organizations": {
                            "type": "array",
                            "description": "Organizations",
                            "items": {
                              "type": "string"
                            }
                          },
                          "location": {
                            "type": "string",
                            "description": "Geographical location of the user"
                          },
                          "input_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The URL that was entered when starting the scraping process"
                          },
                          "linkedin_id": {
                            "type": "string",
                            "description": "LinkedIn ID"
                          },
                          "activity": {
                            "type": "array",
                            "description": "Any activity the user has regarding posts",
                            "items": {
                              "type": "string"
                            }
                          },
                          "linkedin_num_id": {
                            "type": "string",
                            "description": "LinkedIn numeric ID"
                          },
                          "banner_image": {
                            "type": "string",
                            "format": "uri",
                            "description": "Banner image"
                          },
                          "honors_and_awards": {
                            "type": "array",
                            "description": "Honors and Awards",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/company/search": {
      "get": {
        "summary": "Find company data by domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The domain to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot_id": {
                      "type": "string",
                      "description": "The snapshot ID of the found data"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/public/company/snapshot": {
      "get": {
        "summary": "Get person data from snapshot",
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            },
            "description": "The snapshot ID to search for"
          }
        ],
        "responses": {
          "200": {
            "description": "Data found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the request (running or ready)"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the company"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the company"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Country code where the company is located"
                          },
                          "locations": {
                            "type": "array",
                            "description": "General information about the company's locations",
                            "items": {
                              "type": "string"
                            }
                          },
                          "followers": {
                            "type": "number",
                            "description": "Number of followers the company has on LinkedIn"
                          },
                          "employees_in_linkedin": {
                            "type": "number",
                            "description": "Number of employees listed on LinkedIn"
                          },
                          "about": {
                            "type": "string",
                            "description": "Description or summary of the company"
                          },
                          "specialties": {
                            "type": "string",
                            "description": "List of the company's specializations"
                          },
                          "company_size": {
                            "type": "string",
                            "description": "Number of employees in the company"
                          },
                          "organization_type": {
                            "type": "string",
                            "description": "Type of organization"
                          },
                          "industries": {
                            "type": "string",
                            "description": "Industries to which the company belongs"
                          },
                          "website": {
                            "type": "string",
                            "format": "uri",
                            "description": "Official website of the company"
                          },
                          "crunchbase_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL linking to the company's profile on Crunchbase"
                          },
                          "founded": {
                            "type": "number",
                            "description": "Year in which the company was founded"
                          },
                          "company_id": {
                            "type": "string",
                            "description": "Unique identifier for the company"
                          },
                          "employees": {
                            "type": "array",
                            "description": "Additional information about the company's employees",
                            "items": {
                              "type": "string"
                            }
                          },
                          "headquarters": {
                            "type": "string",
                            "description": "Location of the company's headquarters"
                          },
                          "image": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL that links to the banner photo associated with the company's LinkedIn page"
                          },
                          "logo": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL that links to the profile picture of the company's LinkedIn page"
                          },
                          "similar": {
                            "type": "array",
                            "description": "Information about similar companies",
                            "items": {
                              "type": "string"
                            }
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL or link to the company's LinkedIn page"
                          },
                          "updates": {
                            "type": "array",
                            "description": "Information about the company's most recent posts on LinkedIn",
                            "items": {
                              "type": "string"
                            }
                          },
                          "slogan": {
                            "type": "string",
                            "description": "Company's slogan"
                          },
                          "affiliated": {
                            "type": "array",
                            "description": "Information about affiliated companies",
                            "items": {
                              "type": "string"
                            }
                          },
                          "funding": {
                            "type": "object",
                            "description": "Information related to the company's financial backing and investments",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "description": "Funding amount"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency of the funding amount"
                              }
                            }
                          },
                          "investors": {
                            "type": "array",
                            "description": "Information about the company's investors",
                            "items": {
                              "type": "string"
                            }
                          },
                          "formatted_locations": {
                            "type": "array",
                            "description": "Geographical location of the company",
                            "items": {
                              "type": "string"
                            }
                          },
                          "stock_info": {
                            "type": "object",
                            "description": "Information about the company's stock-related data",
                            "properties": {
                              "exchange": {
                                "type": "string",
                                "description": "Stock exchange where the company is listed"
                              },
                              "ticker": {
                                "type": "string",
                                "description": "Stock ticker symbol"
                              }
                            }
                          },
                          "get_directions_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL of the directions provided by the company on LinkedIn"
                          },
                          "description": {
                            "type": "string",
                            "description": "Raw description in HTML"
                          },
                          "additional_information": {
                            "type": "string",
                            "description": "Additional information about the company"
                          },
                          "country_codes_array": {
                            "type": "array",
                            "description": "Array of all relevant countries the company is located in",
                            "items": {
                              "type": "string"
                            }
                          },
                          "alumni": {
                            "type": "number",
                            "description": "Number of alumni on LinkedIn"
                          },
                          "alumni_information": {
                            "type": "array",
                            "description": "Information about alumni",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
